h1,
h2 {
    font-weight: 700;
}

.bg-light-gray {
    background-color: #DDDDDD;
}

.bg-darkest-gray {
    background-color: #222222;
}

.navbar-custom {
    background-color: #222222;
    border-color: transparent;
}

.navbar-custom .navbar-brand {
    color: #FFFFFF;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
    color: #930505;
}

.navbar-custom .navbar-brand:hover img,
.navbar-custom .navbar-brand:focus img,
.navbar-custom .navbar-brand:active img,
.navbar-custom .navbar-brand.active img {
    border: 2px solid #930505;
}

.navbar-brand {
    padding-top: 5px;
}

.navbar-brand img {
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    margin-right: 5px;
}

.navbar-custom .navbar-collapse i {
    color: green;
}

.navbar-custom .navbar-collapse {
    border-color: rgba(255, 255, 255, 0.02);
}

.navbar-custom .navbar-toggle {
    background-color: #9B001D;
    border-color: #9B001D;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
    background-color: #9B001D;
}

.navbar-custom .nav li a {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: #C7C7C7;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
    color: #930505;
    outline: none;
}

.navbar-custom .navbar-nav > .active > a {
    border-radius: 0;
    color: white;
    background-color: #930505;
}

.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: white;
    background-color: #730606;
}

@media (min-width: 768px) {
    .navbar-custom {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
    }
    .navbar-custom .navbar-brand {
        font-size: 2em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
    .navbar-custom .navbar-nav > .active > a {
        border-radius: 3px;
    }
}

.dropdown-menu {
    background-color: #222222;
}
.navbar .nav > li.dropdown.open > a {
    color: #fff;
    background-color: #930505;
    border-radius: 3px;
}
.navbar .nav > li.dropdown.open > a:hover {
    background-color: #730606;
}
.navbar .nav > li.dropdown.open > ul.dropdown-menu a:hover {
    background-color: #222222;
}


.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.jumbo {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: white;
    min-height: 667px;
}

.intro-text {
    color: #FFFFFF;
    padding: 300px 0 200px 0;
}

.intro-text h1 {
    font-size: 48px;
    filter: none;
    font-family: 'Shift', sans-serif;
    font-weight: bold;
}

.intro-text p {
    font-size: 20px;
}

.btn-xl {
    color: white;
    background-color: #930505;
    border-color: #730606;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 10px 20px;
}



@media (min-width: 768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }
    header .intro-text .intro-lead-in {
        font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
    }
    header .intro-text .intro-heading {
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 75px;
        line-height: 75px;
        margin-bottom: 50px;
    }
}

@media (min-width: 768px) {
    .navbar-custom.affix {
        background-color: #222222;
        padding: 10px 0;
    }
    .navbar-custom.affix .navbar-brand {
        font-size: 1.5em;
        padding: 15px;
    }
    .navbar-custom.affix .navbar-brand img {
        height: 30px;
        width: 30px;
    }
}

#indicator-ex .col-md-6 {
    margin-bottom: 2px;
}


/* ----- SECTIONS ----- */

section {
    height: 100%;
    text-align: center;
    padding: 50px 0 50px 0;
}

section h2.section-title {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}


/* ----- i {
    margin-right: 5px;
}INTRO ----- */

#intro-section {
    margin-top: 50px;
}

#intro-section #upcoming .feature {
    display: inline-block;
    float: none;
    vertical-align: top;
}


/* ----- Plex ----- */

#plex-section {}


/* ----- Request ----- */

#request-section {}

#request-section img {
    margin-top: 10px;
}


/* ----- Calendar ----- */

#calendar-section {}

#calendar-section form {
    margin-bottom: 6px;
}

.centered {
    display: inline-block;
    float: none;
}


/* ----- Notifications ----- */

#notifications-section {}

#notifications-section h3 {
    margin-top: 40px;
}

/* ----- Upcoming ----- */

#upcoming-section {}

.well {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

/* ----- Contact ----- */
/* Background pattern from subtlepatterns.com */
#contact-section {
    background-image: url("../img/cartographer.png");
    color: white;
}


/* ----- Footer ------ */

footer {
    padding: 25px 0;
    text-align: center;
    background-color: #222222;
    color: #a6a6a7;
}

footer .copyright {
    line-height: 65px;
    font-weight: bold;
}

footer .social-buttons {
    margin-bottom: 0;
}

footer .social-buttons li a {
    display: block;
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: black;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.social-buttons li a:hover {
  background-color: #730606;
}

footer .side-buttons li {
    display: inline;
}

/* ----- Popup Image Modal ------ */
.pop {
    cursor: pointer;
}

.modal {
    text-align: center;
}

.modal-dialog {
    display: inline-block;
    width: auto;
}

.modal-dialog .modal-body img {
    max-height: calc(100vh - 225px);
}
